<header>
    <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://github.com/juliandreita84/Jugueteria" class="navbar-brand">Jugueteria</a></div>
    
    <ul class="navbar-nav">
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/" class="nav-link">Ver usuarios</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addusuario" class="nav-link">Agregar nuevo usuario</a></li>
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Iniciar sesión</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Cerrar sesión</a></li>
    
    </ul>
    
    </nav>
    
    </header>